<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CloginS</servlet-name>
        <servlet-class>controlador.CloginS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerAlumnosS</servlet-name>
        <servlet-class>controlador.VerAlumnosS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProfesorS</servlet-name>
        <servlet-class>controlador.VerProfesorS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CloginS</servlet-name>
        <url-pattern>/CloginS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAlumnosS</servlet-name>
        <url-pattern>/VerAlumnosS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProfesorS</servlet-name>
        <url-pattern>/VerProfesorS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
